<!-- <div>{{text}}</div>

<div>
  <h2>{{text}}</h2>
</div>

<div class="test">
  <div class="s">Deneme</div>
</div>

<div class="s">Deneme</div> <br><br>

<div>{{getString()}}</div>


<div>

</div>
1. Soru
<input type="number" [(ngModel)]="x">
<input type="number" [(ngModel)]="n">
<button (click)="addOne()">Arttır</button>

2. Soru
<h1>Fibonacci Calculator</h1>
<div>
  {{getList()|json}}
</div>
<input type="number" [(ngModel)]="fLimit">
<div>
  {{getFibonacci()|json}}
</div>
<button (click)="addOne()">Arttır</button> -->

<!-- 3. Soru -->
<!-- <input type="number" [(ngModel)]="x">
<div>
  {{getList()|json}}
</div> -->

<!-- 4. Soru -->
<!-- <input type="number" [(ngModel)]="sayi1">
<input type="number" [(ngModel)]="sayi2">
<input type="number" [(ngModel)]="sayi3">
<div>{{ortanca()}}</div> -->

<!-- 5. Soru -->
<!-- <input type="number" [(ngModel)]="bolunen">
<input type="number" [(ngModel)]="bolen">
<div>{{bolum}}</div>
<div>{{kalan}}</div> -->

<!-- 6. Soru -->
<!-- <input type="number" [(ngModel)]="sayi1">
<input type="number" [(ngModel)]="sayi2">
<div>{{carpmadanCarp()}}</div> -->

<!-- 7. Soru -->
<input type="number" [(ngModel)]="sayi">